h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
}

a {
  color: #1251ae;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
